# App Configuration
SECRET_KEY=zm9ePqinL7fQ_2bxlCPullguTUF4w5O8ymNt2YA99DY
DEBUG=true
APP_NAME=MediaFlow

# Database Configuration (Example: postgresql+psycopg://user:pass@localhost:5432/db)
DATABASE_URL="postgresql+psycopg://postgres:localhost@localhost:5432/mediaflow"
DATABASE_ECHO=false
DATABASE_POOL_SIZE=10

# Redis Configuration
REDIS_URL=redis://localhost:6379/0
USE_FAKEREDIS=false

# Main Cache
MEDIA_FLOW_BOT_TOKEN="8412076206:AAERyACx_3svjudcHmIR3IdBRmbg8leeU8Q"
MEDIA_FLOW_CACHE_CHANNEL_ID=-1003723539134

# Telegram Configuration
TELEGRAM_API_SERVER=""
TELEGRAM_API_LOCAL=true

# Admin Configuration
ADMIN_USERNAME=MediaFlowSuperTop
ADMIN_PASSWORD=MediaFlowSuperTop143115!

# Rate Limits
RATE_LIMIT_GLOBAL_REQUESTS=1000
RATE_LIMIT_GLOBAL_WINDOW=60
RATE_LIMIT_USER_REQUESTS=30
RATE_LIMIT_USER_WINDOW=60
RATE_LIMIT_DOWNLOAD_REQUESTS=10
RATE_LIMIT_DOWNLOAD_WINDOW=60

# Webhook (Optional)
WEBHOOK_BASE_URL=